.sec-cart{
  margin-top: 140px;
}
.sec-cart .img-cart{
  width: 20px;
  
}
.sec-cart .cart-mv{
  width: 95%;
  margin: 20px auto;
  padding: 10px 0;
}
.cart-box{
  width: 350px;
  margin: 0 auto;
}
svg{
  width: 39px;
  margin-right: 15px;
  float: left;
  margin-top: 2px;
}
path{
  fill: #006699;
}
.sec-cart .cmn-ttl{
  text-align: center;
  color: #006699;
  font-size: 38px;
  float: left;
}

.sec-cart .cart-table{
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 20px;
}
.sec-cart .cart-table .header{
 border-top: 1px solid rgba(0, 102, 153,0.4);
 border-bottom: 1px solid rgba(0, 102, 153,0.4);
 width: 1000px;
}
.sec-cart .cart-table tr th{
  padding: 15px 0;
  width: 167px;
  font-size: 24px;
}
.sec-cart .cart-table tr td{
  padding: 10px 0;
  text-align: center;
  width: 167px;
  vertical-align: middle;
}

.sec-cart .cart-table tr td img{
  width: 50%;
}
.sec-cart .cart-table tr td  .qty-box{
  width: 200px;
  margin: 0 auto;
}
.sec-cart .cart-table tr td .qty{
  width: 50px;
  margin: 0 5px;
  outline: none;
  margin-top: 7px;
  padding: 5px 0px;
  float: left;
  padding-left: 14px;
  text-align: center;
  font-size: 16px;
}
.sec-cart .cart-table tr td  .update-cart{
  font-size: 32px;
  margin: 5px 0;

}
.del-svg{
  width: 30px;
  margin-left: 15px;
}
.sec-cart .cart-table tr td .minus{
  float: left;
  margin-left: 56px;
}
.del-icon{
  fill: red;
}
.sec-cart .cart-table tr td .plus{
  float: left;
}
.sec-cart .cart-table tr .grand-ttl{
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #006699;
}
.sec-cart .cart-table .tfoot{
  border-top: 1px solid rgba(0, 102, 153,0.4);
  border-bottom: 1px solid rgba(0, 102, 153,0.4);
}
.btn-blk{
  float: right;
}
.cart-btn{
letter-spacing: 1.4px;
color: #ffffff;
padding: 10px 20px;
border-radius: 5px;
margin-right: 20px;
}

.sec-cart   .back{
background-color:  #343a40;
border: 1px solid #343a40;
}
.sec-cart .back:hover{
background-color: white;
color:#343a40;
border: 1px solid #343a40 ;
}
.sec-cart   .clear{
background-color:   #ff0000;
border:1px solid #ff0000;
}
.sec-cart   .clear:hover{
  background-color: white;
  color:#ff0000;
  border: 1px solid #ff0000 ;
  }
.sec-cart   .checkout{
background-color:  #006699;
border: 1px solid #006699;
}
.sec-cart   .checkout:hover{
  background-color: white;
  color:#006699;
  border: 1px solid #006699 ;
  }
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .sec-cart{
    margin-top: 10.938vw;
  }
  .sec-cart .img-cart{
    width: 1.563vw;
    
  }
  .sec-cart .cart-mv{
    width: 95%;
    margin: 1.563vw auto;
    padding: 0.781vw 0;
  }
  .cart-box{
    width: 27.344vw;
    margin: 0 auto;
  }
  svg{
    width: 3.047vw;
    margin-right: 1.172vw;
    float: left;
    margin-top: 0.156vw;
  }
  path{
    fill: #006699;
  }
  .sec-cart .cmn-ttl{
    text-align: center;
    color: #006699;
    font-size: 2.969vw;
    float: left;
  }
  
  .sec-cart .cart-table{
    width: 78.125vw;
    margin: 0 auto;
    padding: 1.563vw 0;
    margin-top: 1.563vw;
  }
  .sec-cart .cart-table .header{
   border-top: 0.078vw solid rgba(0, 102, 153,0.4);
   border-bottom: 0.078vw solid rgba(0, 102, 153,0.4);
   width: 78.125vw;
  }
  .sec-cart .cart-table tr th{
    padding: 1.172vw 0;
    width: 13.047vw;
    font-size: 1.875vw;
  }
  .sec-cart .cart-table tr td{
    padding: 0.781vw 0;
    text-align: center;
    width: 13.047vw;
    vertical-align: middle;
  }
  
  .sec-cart .cart-table tr td img{
    width: 50%;
  }
  .sec-cart .cart-table tr td  .qty-box{
    width: 15.625vw;
    margin: 0 auto;
  }
  .sec-cart .cart-table tr td .qty{
    width: 3.906vw;
    margin: 0 0.391vw;
    outline: none;
   margin-top: 0.547vw;
   padding: 0.391vw 0vw;
   float: left;
   padding-left: 1.094vw;
    text-align: center;
    font-size: 1.25vw;
  }
  .sec-cart .cart-table tr td  .update-cart{
    font-size: 2.5vw;
    margin: 0.391vw 0;
  
  }
  
  .sec-cart .cart-table tr td .minus{
    float: left;
    margin-left: 4.375vw;
  }
  .sec-cart .cart-table tr td .plus{
    float: left;
  }
  .sec-cart .cart-table tr .grand-ttl{
    font-size: 1.875vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #006699;
  }
  .sec-cart .cart-table .tfoot{
    border-top: 0.078vw solid rgba(0, 102, 153,0.4);
    border-bottom: 0.078vw solid rgba(0, 102, 153,0.4);
  }
  .btn-blk{
    float: right;
  }
  .cart-btn{
  letter-spacing: 0.109vw;
  color: #ffffff;
  padding: 0.781vw 1.563vw;
  border-radius: 0.391vw;
  margin-right: 1.563vw;
  }
  
  .sec-cart   .back{
  background-color:  #343a40;
  border: 0.078vw solid #343a40;
  }
  .sec-cart .back:hover{
  background-color: white;
  color:#343a40;
  border: 0.078vw solid #343a40 ;
  }
  .sec-cart   .clear{
  background-color:   #ff0000;
  border:0.078vw solid #ff0000;
  }
  .sec-cart   .clear:hover{
    background-color: white;
    color:#ff0000;
    border: 0.078vw solid #ff0000 ;
    }
  .sec-cart   .checkout{
  background-color:  #006699;
  border: 0.078vw solid #006699;
  }
  .sec-cart   .checkout:hover{
    background-color: white;
    color:#006699;
    border: 0.078vw solid #006699 ;
    }
    .del-svg{
  width: 2.344vw;
  margin-left: 1.172vw;
}
}
/*sp*/
@media screen and (max-width: 767.9px) {
  .sec-cart{
    margin-top: 18.253vw;
  }
  .sec-cart .img-cart{
    width: 2.608vw;
    
  }
  .sec-cart .cart-mv{
    width: 95%;
    margin: 2.608vw auto;
    padding: 1.304vw 0;
  }
  .cart-box{
    width: 45.632vw;
    margin: 0 auto;
  }
  svg{
    width: 5.085vw;
    margin-right: 1.956vw;
    float: left;
    margin-top: 0.261vw;
  }
  path{
    fill: #006699;
  }
  .sec-cart .cmn-ttl{
    text-align: center;
    color: #006699;
    font-size: 4.954vw;
    float: left;
  }
  
  .sec-cart .cart-table{
    width: 100%;
    margin: 0 auto;
    padding: 2.608vw 0;
    margin-top: 2.608vw;
  }
  .sec-cart .cart-table .header{
   border-top: 0.13vw solid rgba(0, 102, 153,0.4);
   border-bottom: 0.13vw solid rgba(0, 102, 153,0.4);
   width: 130.378vw;
  }
  .sec-cart .cart-table tr th{
    padding: 1.956vw 0;
    width: 21.773vw;
    font-size: 2.347vw;
  }
  .sec-cart .cart-table tr td{
    padding: 1.304vw 0;
    text-align: center;
    width: 21.773vw;
    vertical-align: middle;
  }
  
  .sec-cart .cart-table tr td img{
    width: 50%;
  }
  .sec-cart .cart-table tr td  .qty-box{
    width: 26.076vw;
    margin: 0 auto;
  }
  .sec-cart .cart-table tr td .qty{
    width: 6.519vw;
    margin: 0 0.652vw;
    outline: none;
   margin-top: 0.913vw;
   padding: 0.652vw 0vw;
   float: left;
   padding-left: 1.825vw;
    text-align: center;
    font-size: 2.086vw;
  }
  .sec-cart .cart-table tr td  .update-cart{
    font-size: 4.172vw;
    margin: 0.652vw 0;
  }
  
  .sec-cart .cart-table tr td .minus{
    float: left;
    margin-left: 7.301vw;
  }
  .sec-cart .cart-table tr td .plus{
    float: left;
  }
  .sec-cart .cart-table tr .grand-ttl{
    font-size: 2.347vw;
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-weight: 600;
    color: #006699;
  }
  .sec-cart .cart-table .tfoot{
    border-top: 0.13vw solid rgba(0, 102, 153,0.4);
    border-bottom: 0.13vw solid rgba(0, 102, 153,0.4);
  }
  .btn-blk{
    float: right;
  }
  .cart-btn{
  letter-spacing: 0.183vw;
  color: #ffffff;
  padding: 1.304vw 2.608vw;
  border-radius: 0.652vw;
  margin-right: 2.608vw;
  font-size: 2.347vw;
  }
  
  .sec-cart   .back{
  background-color:  #343a40;
  border: 0.13vw solid #343a40;
  }
  .sec-cart .back:hover{
  background-color: white;
  color:#343a40;
  border: 0.13vw solid #343a40 ;
  }
  .sec-cart   .clear{
  background-color:   #ff0000;
  border:0.13vw solid #ff0000;
  }
  .sec-cart   .clear:hover{
    background-color: white;
    color:#ff0000;
    border: 0.13vw solid #ff0000 ;
    }
  .sec-cart   .checkout{
  background-color:  #006699;
  border: 0.13vw solid #006699;
  }
  .sec-cart   .checkout:hover{
    background-color: white;
    color:#006699;
    border: 0.13vw solid #006699 ;
    }
    .del-svg{
      width: 3.911vw;
      margin-left: 1.956vw;
    }
}