/*login*/
.sec-login {
  background-image: linear-gradient(284deg, #d9cae9, #b1ade2);
  padding: 100px 0 50px;
}
.img-container{ 
  width: 30%;
  margin: 0 auto;
}
.octoverse-img {
  width: 100%;
}

.log-form {
  width: 400px;
  margin: 0 auto;
  font-size: 46px;
  font-weight: 500;
  color: #6d6270;
  background-color: #e2e0e0;
  border-radius: 10px;
}

.log-form .input-gp {
  display: grid;
  row-gap: 25px;
}

.log-form .input-box {
  margin: 0 auto;
  width: 300px;
}

.log-form .input {
  width: 100%;
  padding: 10px 15px;
  border: 1px double #aaaaaa;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.log-form .input::placeholder {
  color: #777676;
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
}

.log-form .submit {
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 500;
  background-color: #5e5b61;
  border: 1px solid #5e5b61;
  width: 100%;
  padding: 10px 15px  ;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.log-form .submit:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #b1ade2;
  color: #5e5b61;
}

.log-form .forgot {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 500;
  display: block;
  padding: 10px 0;
}

.log-form .create {
  padding: 10px 0 25px 0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 500;
  display: block;
}

.log-form .forgot:hover {
  color: #9590d0;
}

.log-form .create:hover {
  color: #9590d0;
}

.log-form .or {
  font-size: 16px;
  text-align: center;
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 700;
}

.log-form .or::before {
  position: absolute;
  top: 76%;
  right: 10%;
  background: url(../img/img_02.png) no-repeat;
  width: 120px;
  height: 1px;
  content: '';
  transform: translateY(-50%);
}

.log-form .or::after {
  position: absolute;
  top: 76%;
  left: 10%;
  background: url(../img/img_02.png) no-repeat;
  width: 120px;
  height: 1px;
  content: '';
  transform: translateY(-50%);
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .sec-login {
    padding: 7.813vw 0 3.906vw;
  }

  .log-form {
    width: 31.25vw;
    font-size: 3.594vw;
    border-radius: 0.781vw;
  }

  .log-form .input-gp {
    width: 27.344vw;
  }

  .log-form .input-box {
    row-gap: 0.391vw;
    margin: 1.953vw 0;
  }

  .log-form .input {
    width: 23.438vw;
    margin-left: 1.953vw;
    padding: 0.781vw 1.172vw;
    border: 0.078vw solid #5e5b61;
    border-radius: 1.172vw;
  }

  .log-form .input::placeholder {
    padding-left: 0.781vw;
    font-size: 1.406vw;
  }

  .log-form .submit {
    border: 0.078vw solid #5e5b61;
    width: 23.438vw;
    padding: 0.781vw 0;
    margin-left: 1.953vw;
    border-radius: 1.953vw;
    margin-bottom: 1.172vw;
    font-size: 1.406vw;

  }

  .log-form .forgot {
    font-size: 1.094vw;
    letter-spacing: 0.094vw;
    padding: 1.563vw 0 1.953vw 0.781vw;
  }

  .log-form .create {
    font-size: 1.094vw;
    letter-spacing: 0.094vw;
    padding: 1.563vw 0 3.125vw 0.781vw;
  }

  .log-form .or {
    font-size: 1.875vw;
  }

  .log-form .or::before {
    position: absolute;
    top: 76%;
    right: 10%;
    background: url(../img/img_02.png) no-repeat;
    width: 9.375vw;
    height: 0.078vw;
    content: '';
    transform: translateY(-50%);
  }

  .log-form .or::after {
    position: absolute;
    top: 76%;
    left: 10%;
    background: url(../img/img_02.png) no-repeat;
    width: 9.375vw;
    height: 0.078vw;
    content: '';
    transform: translateY(-50%);
  }

}

/*sp*/
@media screen and (max-width: 767.9px) {
  .sec-login {
    padding: 13.038vw 0 6.519vw;
  }

  .log-form {
    width: 52.151vw;
    font-size: 5.997vw;
    border-radius: 1.304vw;
  }

  .log-form .input-gp {
    width: 45.632vw;
  }

  .log-form .input-box {
    row-gap: 0.652vw;
    margin: 3.259vw 0;
  }

  .log-form .input {
    width: 39.113vw;
    margin-left: 3.259vw;
    padding: 1.304vw 1.956vw;
    border: 0.13vw solid #5e5b61;
    border-radius: 1.956vw;
  }

  .log-form .input::placeholder {
    padding-left: 1.304vw;
    font-size: 2.347vw;
  }

  .log-form .submit {
    border: 0.13vw solid #5e5b61;
    width: 39.113vw;
    padding: 1.304vw 0;
    margin-left: 3.259vw;
    border-radius: 3.259vw;
    margin-bottom: 1.956vw;
    font-size: 2.347vw;

  }

  .log-form .forgot {
    font-size: 1.825vw;
    letter-spacing: 0.156vw;
    padding: 2.608vw 0 3.259vw 1.304vw;
  }

  .log-form .create {
    font-size: 1.825vw;
    letter-spacing: 0.156vw;
    padding: 2.608vw 0 5.215vw 1.304vw;
  }

  .log-form .or {
    font-size: 3.129vw;
  }

  .log-form .or::before {
    position: absolute;
    top: 76%;
    right: 10%;
    background: url(../img/img_02.png) no-repeat;
    width: 15.645vw;
    height: 0.13vw;
    content: '';
    transform: translateY(-50%);
  }

  .log-form .or::after {
    position: absolute;
    top: 76%;
    left: 10%;
    background: url(../img/img_02.png) no-repeat;
    width: 15.645vw;
    height: 0.13vw;
    content: '';
    transform: translateY(-50%);
  }

}